
    <div padding style="background: white;
    height: auto;
    width: 90%;
    margin: auto;
    border-radius: 5px;">
        <ion-row>
          <ion-col col-12>
            <p style="text-align: center; font-size: 2rem;">
              <b>{{'Custom Duration' | translate}}</b>
             &nbsp;&nbsp;&nbsp; <ion-icon class="close-button" id="close-button" name="close-circle" (tap)="dismiss()"></ion-icon>
            </p>
          </ion-col>
        </ion-row>
        <br />
        <ion-row>
          <ion-col col-12><b>{{'Enter Duration:' | translate}}</b></ion-col>
          <ion-col col-12>
            <ion-input type="number" [(ngModel)]="c_duration"></ion-input>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col col-12>
            <button ion-button block (click)="_submit()" color="gpsc">{{'SUBMIT' | translate}}</button>
          </ion-col>
        </ion-row>
      </div>
    